.animatedButton {
    border-radius: 4px;
    background-color: #4e4e50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 30px 3px 60px 3px;
    width: 197px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    height: 50px;
}

.animatedButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.animatedButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.animatedButton:hover span {
    padding-right: 25px;
}

.animatedButton:hover span:after {
    opacity: 1;
    right: 0;
}